#projects-container {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

#presentacion {
  width: 100%;
  height: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}

#presentacion > h2 {
  font-size: 3.2rem;
  color: #fff;
  text-shadow: 3px 0px 10px #fff;
}

#presentacion > ul {
  display: flex;
  width: 100%;
  margin-top: 100px;
  align-items: center;
  justify-content: center;
  list-style: none;
  list-style-position: inside;
}

#presentacion > ul > li {
  margin: 0 20px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  font-style: italic;
  font-size: 1.1rem;
  color: #fff;
}
#presentacion > ul > li::before {
  content: "";
  position: absolute;
  top: 100%;
  background-color: #fac8d1;
  border-radius: 100px;
  width: 100%;
  height: 3px;
  box-shadow: 0 0 10px #ccc;
}
