---
import GlobalLayout from "../layouts/Global_layout.astro";

/* Banner */
import bannerPic from "../assets/banner/banner_contactame.png";
import Header from "../components/Header.astro";
---

<GlobalLayout>
  <Header slot="header" bannerPic={bannerPic} />
  <h1>Contacteme</h1>
</GlobalLayout>
