---
import GlobalLayout from "../layouts/Global_layout.astro";
import FotosProyectos from "../components/Fotos_Proyectos.astro";

/* Banner */
import bannerPic from "../assets/banner/banner_proyectos.png";
import Header from "../components/Header.astro";
---

<GlobalLayout>
  <Header slot="header" bannerPic={bannerPic} />

  <h2>Proyectos</h2>

  <FotosProyectos />
</GlobalLayout>

<style>
  h2 {
    margin: 30px 0;
    font-size: 1.7rem;
    text-shadow: 0 0 20px #16d3ff;
  }
</style>
