---
const proyectosFotos = await Astro.glob("../assets/trabajos_realizados/*.png");
const { cantidadAMostrar = proyectosFotos.length } = Astro.props;
---

<div class="proyectos">
  {
    proyectosFotos.slice(0, cantidadAMostrar).map((foto) => {
      return <img src={foto.default} />;
    })
  }
</div>

<style>
  .proyectos {
    width: 100%;
    height: auto;
    display: flex;
    margin-bottom: 30px;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
  }
  .proyectos > img {
    width: auto;
    max-width: 100%;
    min-width: 150px;
    height: 300px;
    margin: 10px 0;
    object-fit: contain;
    object-position: center;
    flex-grow: 1;
  }
</style>
