---
const { bannerPic } = Astro.props;
---

<div class="banner">
  <img src={bannerPic} alt="Foto Banner" />

  <div class="bg_degradado">
    <h1>
      <span>BIENVENIDO A</span>
      <br />
      DISEÑOS STAR
    </h1>
  </div>
</div>

<header id="header">
  <nav>
    <h2>Bela Star</h2>
    <img src="/logo.png" alt="" srcset="" />
    <a href="/">Inicio</a>
    <a href="/contacteme">Contácteme</a>
    <a href="/proyectos">Proyectos</a>
  </nav>
</header>

<style>
  .banner {
    width: 100%;
    height: 500px;
    min-height:500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
  }
  .banner > img {
    width: 100%;
    height: 100%;
    object-fit: fill;
    object-position: center;
  }
  .bg_degradado {
    width: 100%;
    height: 60%;
    background-color: #16d3f455;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .bg_degradado > h1 {
    font-size: 5rem;
    text-shadow: 0 0 30px #16d3ff;
    font-family: "Times New Roman", Georgia, Times, serif;
  }
  .bg_degradado > h1 > span {
    font-size: 3rem;
  }

  /* Header */
  #header {
    width: 100%;
    height: auto;
    position: sticky;
    top: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: #000d;
    z-index: 10;
  }
  #header > nav {
    width: 50%;
    height: 80px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
  }
  #header > nav > h2 {
    min-width: max-content;
    margin: 0 10px;
    font-size: 2rem;
  }
  #header > nav > img {
    width: 60px;
    height: 60px;
    object-fit: contain;
    object-position: center;
    margin: 0 10px;
    border-radius: 50%;
    border: 1px solid #222;
  }
  #header > nav > a {
    margin: 0 10px;
    text-decoration: none;
    font-size: 1.3rem;
  }
</style>
